.all {
  display: grid;
  grid-template-columns: repeat(2, 1fr 4fr);
  height: 100vh; /* Ajustez la hauteur de votre grille pour remplir l'écran */
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../src/assets/images/christmas-tree-2928142_1280.jpg");
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; /* Désactive le défilement global */
}
.task-card {
  display: flex;
  align-items: center;
  background-color: #00000065;
  padding: 0.2rem;
  border-radius: 0.4rem;
  margin: 1rem;
  height: auto;
  width: 90%;
  border: 1px solid pink;
}
.task-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto; /* Ajoute un défilement interne à la tâche list */
  max-height: 80vh; /* Hauteur maximale de la tâche list */
  width: 50%;
  padding: 20px;
}

.page {
  padding: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-buttons li {
  margin-bottom: 10px;
}

.tab-buttons button {
  width: 150px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
}

.tab-buttons button:hover {
  background-color: #45a049;
}

button {
  background-color: #00bfff !important;
  color: white !important;
  border: none !important;
  padding: 10px !important;
  margin: 5px !important;
  cursor: pointer !important;
}

button:hover {
  background-color: #696969 !important;
}
.task-list-container {
  overflow-y: auto;
  max-height: 80vh;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  overflow-x: hidden; /* Désactive le défilement horizontal */
}
.task-list {
  padding: 0;
  border: 1px solid black;
  width: 100%;
  overflow-x: hidden; /* Désactive le défilement horizontal */
}
.button-container {
  display: flex;
  align-items: center;
}
.task-buttons {
  display: flex;
  align-items: center;
  margin-left: auto; /* Place les boutons à l'extrême droite */
}
.button-add {
  width: 15rem;
}
.button-validate,
.button-delete {
  background-color: #00bfff;
  color: white;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-bottom: 0;
}
.button-delete {
  background-color: red; /* Couleur rouge pour le bouton supprimer */
  border-radius: 0.4rem;
}

.button-validate:hover,
.button-delete:hover {
  background-color: #696969 !important;
}
.task-item {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
}

.checkbox {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}

.form {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  width: 100vw;
  height: 100%;
  color: white;
  overflow: hidden; /* Désactiver le défilement */
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d566e;
  border-radius: 0.5rem;
  height: 3rem;
}

.form label {
  margin: 15px;
  background-color: #00bfff;
  cursor: pointer;
  padding: 10px;
  border-radius: 0.6rem;
}

.form div {
  margin-bottom: 10px;
}

.form img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.priority-urgente {
  color: red;
}

.priority-moyen {
  color: orange;
}

.priority-pas-pressé {
  color: green;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Suivi du curseur de défilement */
::-webkit-scrollbar-thumb {
  background-color: #00bfff;
  border-radius: 6px;
}

/* Fond de la barre de défilement */
::-webkit-scrollbar-track {
  background-color: #f1f1f100;
}

/* Coin arrondi entre la barre de défilement et le contenu */
::-webkit-scrollbar-corner {
  background-color: #ffffff00;
}
