// body.scss

body {
  font-family: Arial, sans-serif;
  background-image: url("../src/assets/images/christmas-tree-2928142_1280.jpg");
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
