.form {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  width: 100vw;
  height: 100%;
  color: white;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d566e;
  border-radius: 0.5rem;
  height: 3rem;
}

.form label {
  margin: 15px;
  background-color: #00bfff;
  cursor: pointer;
  padding: 10px;
  border-radius: 0.6rem;
}

.form div {
  margin-bottom: 10px;
}

.form img {
  max-width: 100%;
}

.button-add {
  width: 15rem;
}

.tab-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 10%;
}

.tab-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-buttons li {
  margin-bottom: 10px;
}

.tab-buttons button {
  width: 150px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
}

.tab-buttons button:hover {
  background-color: #45a049;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../src/assets/images/christmas-tree-2928142_1280.jpg");
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
